@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;

    --card: 220 26% 14%;
    --card-foreground: 210 20% 98%;

    --popover: 215 28% 17%;
    --popover-foreground: 210 20% 98%;

    --primary: 228 71% 60%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 26% 24%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 28% 25%;
    --muted-foreground: 217.9 10.6% 64.9%;
    
    --accent: 228 71% 60%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 81% 71%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 35%;
    --input: 220 13% 20%;
    --ring: 228 71% 60%;
    
    --radius: 0.8rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;

    --card: 220 26% 14%;
    --card-foreground: 210 20% 98%;

    --popover: 215 28% 17%;
    --popover-foreground: 210 20% 98%;

    --primary: 228 71% 60%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 26% 24%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 28% 25%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 228 71% 60%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 81% 71%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 35%;
    --input: 220 13% 20%;
    --ring: 228 71% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
